@{
    ViewBag.Title = "Spending COmparison";
}

<div class="jumbotron">
    <h2>Comparison Calculator</h2>
    <p>See how your spending compares to people similar to you. The data for 
    this comparison comes from the Bureau of Labor Statistics Consumer Expenditure Survey. 
    Some of the categories from the original survey are excluded here and some 
    sub-categories have been combined for simplicity.</p>
    <p><a href="/Calculator" class="btn btn-primary btn-lg">Go to Calculator</a></p>
</div>